body,
html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;

  > div {
    min-height: 100%;
    height: 100%;
  }
}

.app {
  min-height: 100%;
  height: 100%;

  main {
    height: 100%;
    margin: 0 auto;
  }
}
